#blog-page{
    header{
        p{
            font-size:80% ;
            width: 100%;
            text-align: end;
            padding-right: 2rem ;
        }
    }
     section{
         margin:1.250rem 0 ;
     }
    h2{
        font-size: 1.250rem;
        font-weight: 700;
        margin-bottom: 1.250rem;
    }
    footer{
        margin-top: 2rem;
        .meta{
            margin-top: 1rem;
            text-align: end;
        }
    }
    pre{
        background: #212121;
        color: white;
        width: fit-content;
        padding: 1rem;
        height: fit-content;
    }
    a{
        text-decoration: underline;
    }
    img{
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))
    }
    iframe{
        width: 60%;
        height: 500px;
        margin: auto;
    }
}