@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --purple: rgb(64, 11, 139);
    --pink: rgb(253, 38, 125);
    --gradiant: linear-gradient(45deg, var(--purple) 0%, var(--pink) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--purple);
    background: var(--gradiant);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.default_gradiant {
    background: var(--purple);
    background: var(--gradiant);
}